@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(73, 72, 72);
}
body {
  max-width: 1200px;
  margin: 50px auto;
}